#features .fe-box{
    width:180px;
    text-align:  center;
    padding:25px 15px;
    box-shadow: 20px 20px 30px rgba(0,0,0,0);
    border:1px solid #cce7d0;
    border-radius: 4px;
    margin:15px 0px;
}
#features .fe-box:hover{
    box-shadow: 10px 10px 54px rgba(0,0,0,0.1);
    
}
#features .fe-box h6{
    display:inline-block; 
    padding:9px 6px 8px 6px;
    line-height: 1;
    border-radius: 4px;
    background-color: #fddde4;
    color:#088178
}
#features .fe-box img{
    width:100%;
    margin-bottom: 10px;
}
#features{
    display:flex;
    align-items: center;
    justify-content: space-between;
    flex:wrap;
}
#features .fe-box:nth-child(2) h6{
    background-color: antiquewhite;
}
#features .fe-box:nth-child(3) h6{
    background-color: rgb(244, 146, 146);
}
#features .fe-box:nth-child(4) h6{
    background-color: rgb(138, 138, 223);
}
#features .fe-box:nth-child(5) h6{
    background-color: rgb(211, 194, 197);
}
#features .fe-box:nth-child(6) h6{
    background-color: rgb(216, 216, 140);
}