#newsletter{
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-image: url("../assets/feedback.jpg");
    background-position: 20% 30%;
    background-color: #1a1a1a;
}
#newsletter h4{
    font-size:22px;
    font-weight:700px;
    color:#8f4000;
}
#newsletter p{
    font-size:14px;
    font-weight:600px;
    color:#8f4000;
}
#newsletter p span{
    color:#8f4000;
}
#newsletter .form{
    display: flex;
    width:40%;
}
#newsletter input{
    height:3.125rem;
    padding:0 1.25rem;
    width:100%;
    border:1px solid transparent;
    border-radius: 4px;
    font-size: 14px;
    outline:none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
#newsletter button{
    background-color: #088178;
    color:white;
    white-space: nowrap;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}